@use "../../abstracts/abstracts" as *;
.card {
  display: flex;
  cursor: default;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  padding: 1rem;
  background-color: $slate-100;
  border-bottom: 1px solid $grey;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    border: none;
    border-radius: 0 0 10px 10px;
  }
  .card__left {
    display: flex;
    align-items: center;
    .card__profile-group {
      display: flex;
      position: relative;
      width: 4.5rem;
      div {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgb(255, 208, 132);
        &:nth-child(2) {
          background-color: rgb(136, 154, 255);
          position: absolute;
          left: 1rem;
        }
        &:nth-child(3) {
          background-color: rgb(255, 165, 249);
          position: absolute;
          left: 2rem;
        }
      }
    }
    .card__profile-user {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: rgb(235, 173, 72);
      &::after {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid $slate-100;
        border-radius: 50%;
        background-color: $lime-green;
        position: absolute;
        right: 0.2rem;
        bottom: 0;
      }
    }
    .card__info {
      margin-left: 0.7rem;
      p {
        font-weight: 300;
        &:first-child {
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }

  .card__status {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 3px;
    p {
      &:last-child {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $DodgerBlue;
        margin-top: 0.1rem;
      }
    }
  }
}
