@use "../../abstracts/abstracts" as *;
@mixin message($br: 1rem 1rem 0 1rem, $bc: DodgerBlue, $fd:row, $margin:0 0 0 0.4rem) {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  border-radius: $br;
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
  background-color: $bc;
  p {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    flex-direction: $fd;
    span {
      font-size: 0.5rem;
      margin: $margin;
      align-self: flex-end;
      transform: translateY(5px);
    }
  }
}
.chat-screen__container {
  .start-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    p {
      font-size: 1.3rem;
      font-family: $relway;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
  }
  .chat-screen {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__header {
      border-bottom: 1px solid $slate-100;
      width: 100%;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .chat-screen__left {
        display: flex;
        justify-content: center;
        align-items: center;
        .card__profile-group {
          display: flex;
          position: relative;
          width: 4.5rem;
          div {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: rgb(255, 208, 132);
            &:nth-child(2) {
              background-color: rgb(136, 154, 255);
              position: absolute;
              left: 1rem;
            }
            &:nth-child(3) {
              background-color: rgb(255, 165, 249);
              position: absolute;
              left: 2rem;
            }
          }
        }
        .card__profile-user {
          position: relative;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: rgb(235, 173, 72);
          &::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border: 1px solid $slate-100;
            border-radius: 50%;
            background-color: $lime-green;
            position: absolute;
            right: 0.2rem;
            bottom: 0;
          }
        }
        .card__info {
          margin-left: 0.7rem;
          p {
            font-weight: 300;
            font-size: 0.6rem;
            &:first-child {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
      .chat-screen__right {
        img {
          border: 1px solid $grey;
          padding: 0.4rem;
          border-radius: 0.7rem;
          margin-right: 0.6rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &__main {
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column-reverse;
      .loader__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .loader {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          display: inline-block;
          border-top: 3px solid $DodgerBlue;
          border-right: 3px solid transparent;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;
        }
      }
      .message__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        // .message__send {
        //   position: relative;
        //   margin-bottom: 0.5rem;
        //   padding: 0 0.7rem;
        //   border-radius: 1rem 1rem 0 1rem;
        //   font-weight: 300;
        //   font-size: 0.8rem;
        //   color: white;
        //   background-color: $DodgerBlue;
        //   p {
        //     display: flex;
        //     align-items: center;
        //     padding: 0.4rem 0;
        //     span {
        //       font-size: 0.5rem;
        //       margin-left: 0.4rem;
        //       align-self: flex-end;
        //       transform: translateY(5px);
        //     }
        //   }
        // }
        // .message__receive {
        //   position: relative;
        //   margin-bottom: 0.5rem;
        //   padding: 0 0.7rem;
        //   border-radius: 1rem 1rem 1rem 0;
        //   font-weight: 300;
        //   font-size: 0.8rem;
        //   color: white;
        //   background-color: red;
        // }
        .message__send{
          @include message
        }
        .message__receive{
          @include message($br:1rem 1rem 1rem 0, $bc:red, $fd:row-reverse, $margin:0 0.4rem 0 0 )
        }
      }
    }
    .send-message {
      width: 100%;
      height: 5rem;
      padding: 0 3rem;
      position: relative;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        height: 100%;
        border: none;
        border-top: 1px solid $grey;
        padding-bottom: 0.5rem;
        outline: none;
        &::placeholder {
          font-size: 0.8rem;
        }
      }
      img {
        position: absolute;
        right: 3rem;
        bottom: 1rem;
        background-color: $DodgerBlue;
        border-radius: 0.4rem;
        padding: 0.4rem;
      }
    }
  }
}
