@use '../../abstracts/abstracts' as *;
.chat-screen__container {
  .start-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    p {
      font-size: 1.3rem;
      font-family: $relway;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
  }
  .chat-screen {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .chat-screen__header {
      border-bottom: 1px solid $slate-100;
      width: 100%;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .chat-screen__left {
        display: flex;
        justify-content: center;
        align-items: center;
    .card__profile-group {
      display: flex;
      position: relative;
      width: 4.5rem;
      div {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgb(255, 208, 132);
        &:nth-child(2) {
          background-color: rgb(136, 154, 255);
          position: absolute;
          left: 1rem;
        }
        &:nth-child(3) {
          background-color: rgb(255, 165, 249);
          position: absolute;
          left: 2rem;
        }
      }
    }
    .card__profile-user {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: rgb(235, 173, 72);
      &::after {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid $slate-100;
        border-radius: 50%;
        background-color: $lime-green;
        position: absolute;
        right: 0.2rem;
        bottom: 0;
      }
    }
        .card__info {
          margin-left: 0.7rem;
          p {
            font-weight: 300;
            font-size: 0.6rem;
            &:first-child {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
      .chat-screen__right {
        img {
          border: 1px solid $grey;
          padding: 0.4rem;
          border-radius: 0.7rem;
          margin-right: 0.6rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .send-message {
      width: 100%;
      height: 4rem;
      padding: 0 3rem;
      position: relative;
      display: flex;
      align-items: center;
      input{
        width: 100%;
        height: 100%;
        border: none;
        border-top: 1px solid $grey;
        padding-bottom: 0.5rem;
        outline: none;
        &::placeholder{
          font-size: 0.8rem;
        }
      }
      img{
        position: absolute;
        right: 3rem;
        bottom: 1.2rem;
        background-color: $DodgerBlue;
        border-radius: 0.4rem;
        padding: 0.4rem;
      }
    }
  }
}
