@use './sidebar';
@use './statusbar';
@use './inbox';
@use './chatscreen';
@use './profile';
@use '../../abstracts/abstracts' as *;
.home{
    display: grid;
    grid-template-columns: 1.5fr 3fr 8fr 1fr;
    height: 100vh;
}
