@use '../../abstracts/abstracts' as *;
.inbox__container{
    border-right: 1px solid $Gainsboro;
    padding: 1rem 2rem;
    .section-name{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        h3{
            font-weight: 500;
            font-size: 1.5rem;
        }
        img {
            border: 1px solid $Gainsboro;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
    .search_div{
        margin-top: 1.5rem;
        display: flex; 
        align-items: center;
        position: relative;
        input{
            width: 100%;
            background-color: $Gainsboro;
            outline: none;
            border: 1px solid $grey; 
            padding: 0.3rem;
            border-radius: 0.4rem;
        }
        img{
            position: absolute;
            right: 0.5rem;
        }
    }
    .unreaded__container{
        background-color: $Gainsboro;
        padding: 0.2rem 0.7rem;
        border-radius: 0.5rem;
        margin-top: 2rem;
    }
}