@use "../../abstracts/abstracts" as *;
.result {
  //   cursor: pointer;
  //   > p {
  //     text-align: center;
  //     color: red;
  //   }

  .user__container {
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
    background-color: $slate-100;
    transition: background-color 150ms ease-in;
    &:hover {
      background-color: $slate-200;
    }
    .user__profile {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background-color: rgb(72, 235, 208);
    }
    .user__info {
      margin-left: 0.7rem;
      .user__name {
        font-weight: 500;
        font-size: 0.9rem;
      }
      .user__email {
        font-size: 0.7rem;
      }
    }
  }
}
