@use '../../abstracts/abstracts' as *;
.side-bar__container {
  background-color: $slate-100;
  padding: 10px 0 0 10px;
  .logo__div {
    display: flex;
    align-items: center;
    p {
      font-family: $relway;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  ul {
    margin: 2.5rem 0 0 10px;
    li {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 0 0.5rem 0.5rem;
      border-right: 3px solid transparent;
      border-radius: 0.2rem;
      transition: all 200ms ease-in;
      cursor: pointer;
      img {
        width: 18px;
        filter: brightness(100);
      }
      &:hover {
        border-right: 3px solid orange;
        background-color: white;
        color: $DodgerBlue;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}
