@use '../../abstracts/abstracts' as *;
.status-bar__container {
  border-left: 1px solid $slate-100;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  img {
    border: 1px solid $grey;
    padding: 0.4rem;
    border-radius: 0.7rem;
  }
  .status-bar__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
}
