@use "../../abstracts/abstracts" as *;
.status-bar__container {
  border-left: 1px solid $slate-100;
  padding: 1.5rem 0;
  overflow: hidden;
  .status-bar__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: rgb(105, 185, 255);
    }
    .items {
      width: 100%;
      margin-top: 0.7rem;
      p {
        font-weight: 400;
        font-size: 0.7rem;
        width: 100%;
        text-align: center;
        padding: 0.4rem 0;
        background-color: $sky-600;
        color: white;
        margin-top: 0.2rem;

      }
    }
  }
  img {
    border: 1px solid $grey;
    padding: 0.4rem;
    border-radius: 0.7rem;
  }
  .status-bar__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
}
