@use "../abstracts/abstracts" as *;
@use "../mixins/media-query" as *;
@use "../mixins/message" as *;

.chat-screen__container {
  height: 100vh;
  @include for-mobile{
    width: 100vw;
    position: absolute;
  }
  .start-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    p {
      font-size: 1.3rem;
      font-family: $relway;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
  }
  .chat-screen {
    display: flex;
    height: 100%;
    flex-direction: column;
    &__header {
      border-bottom: 1px solid $slate-100;
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .chat-screen__left {
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          display: none;
          @include for-mobile {
            display: block;
          }
        }
        .card__profile-group {
          display: flex;
          .profile-img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin: 0 0.5rem;
            &:nth-child(2) {
              margin-left: -1.5rem;
            }
            &:nth-child(3) {
              margin-left: -1.5rem;
            }
          }
        }
        .card__info {
          p {
            font-weight: 300;
            font-size: 0.6rem;
            &:first-child {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
      .chat-screen__right {
        img {
          border: 1px solid $grey;
          padding: 0.4rem;
          border-radius: 0.7rem;
          margin-right: 0.6rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &__main {
      height: 100%;
      padding: 1rem;
      display: flex;
      overflow-y: auto;

      flex-direction: column-reverse;
      .typing__container {
        width: fit-content;
        p {
          font-size: 0.8rem;
          align-items: center;
          span {
            font-size: 2rem;
            display: inline-block;
            &:first-child {
              font-size: 0.8rem;
              color: rgb(139, 16, 167);
            }
            &:nth-child(2) {
              font-size: 0.8rem;
            }
          }
        }
      }
      .loader__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .loader {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          display: inline-block;
          border-top: 3px solid $DodgerBlue;
          border-right: 3px solid transparent;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;
        }
      }
      .message__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        // .message__send {
        //   position: relative;
        //   margin-bottom: 0.5rem;
        //   padding: 0 0.7rem;
        //   border-radius: 1rem 1rem 0 1rem;
        //   font-weight: 300;
        //   font-size: 0.8rem;
        //   color: white;
        //   background-color: $DodgerBlue;
        //   p {
        //     display: flex;
        //     align-items: center;
        //     padding: 0.4rem 0;
        //     span {
        //       font-size: 0.5rem;
        //       margin-left: 0.4rem;
        //       align-self: flex-end;
        //       transform: translateY(5px);
        //     }
        //   }
        // }
        // .message__receive {
        //   position: relative;
        //   margin-bottom: 0.5rem;
        //   padding: 0 0.7rem;
        //   border-radius: 1rem 1rem 1rem 0;
        //   font-weight: 300;
        //   font-size: 0.8rem;
        //   color: white;
        //   background-color: red;
        // }
        .message__send {
          @include message;
        }
        .message__receive {
          @include message(
            $br: 0.5rem 0.5rem 0.5rem 0,
            $bc: $slate-200,
            $color: black,
            $fd: row-reverse,
            $margin: 0 0.3rem 0 0
          );
        }
      }
    }
    .send-message {
      width: 100%;
      height: 5rem;
      position: relative;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        height: 100%;
        border: none;
        padding-left: 1.5rem;
        border-top: 1px solid $grey;
        padding-bottom: 0.5rem;
        outline: none;
        &::placeholder {
          font-size: 0.8rem;
        }
      }
      img {
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
        background-color: $DodgerBlue;
        border-radius: 0.4rem;
        padding: 0.4rem;
      }
    }
  }
}
