//Fonts
$poppins: 'Poppins', sans-serif;
$relway: 'Raleway', sans-serif;

//Colors
$Gainsboro: #f5f8fb;
$sky-blue: #3ca9ed;
$grey: #e8e6e6;
$lime-green:#32CD32;
$DodgerBlue:#1E90FF;

//Breakpoints
$breackpoint-mobile: 480px;
$breackpoint-tablet: 768px;
$breackpoint-laptop: 1024px;
$breackpoint-desktop: 1200px;
