//Fonts
$poppins: "Poppins", sans-serif;
$relway: "Raleway", sans-serif;

//Colors
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$sky-500: #3ca9ed;
$sky-600: #0284c7;
$grey: #e8e6e6;
$lime-green: #32cd32;
$DodgerBlue: #1e90ff;

//Breakpoints
$breackpoint-mobile: 480px;
$breackpoint-tablet: 768px;
$breackpoint-laptop: 1024px;
$breackpoint-desktop: 1200px;
